librosa==0.11.0
numpy==2.2.5
# numba provides optional JIT acceleration. Install with NUMBA_CPU_NAME=host to enable host-specific CPU flags
numba
pyqt5==5.15.11
scipy==1.15.2
pandas
plotly>=5.20
slab==1.8.0
soundfile
matplotlib
